body{
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-size: 50px;
    padding-top:10px;
    text-align: center;
  }

header{
  text-align: center;
}

  img {
    display: block;
    max-width: 1500px;
    margin: auto;
    padding-bottom: 25px;
  }

  nav ul {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #336699;
  }

  a:hover {
    color: #FFCC66;
  }

  footer p {
    text-align: center;
  }

  canvas {
    display: block;
    margin:auto;
  }

  .ampio-regular {
    font-family: montecatini-pro-ampio, serif;
    font-weight: 400;
    font-style: normal;
  }

  .ampio-ultra {
    font-family: montecatini-pro-ampio, serif;
    font-weight: 800;
    font-style: normal;
  }

  .stretto-regular {
    font-family: montecatini-pro-stretto, serif;
    font-weight: 400;
    font-style: normal;
  }

/** brand colors

Azure #336699

Lochinvar #339999

Downy #66CCCC

Tuscany #CC6633

Neon Carrot #FF9933

Golden Tainoi #FFCC66

**/

/** css and notes for fonts

font weights available between 300-800 for each

300 = light

400 = normal

500 = medium

600 = semiBold

700 = Bold

800 = Ultra

Ampio 800 = Main LogoType

font-family: montecatini-pro-ampio, serif;
font-weight: 400;
font-style: normal;

font-family: montecatini-pro-largo, serif;
font-weight: 400;
font-style: normal;

font-family: montecatini-pro-normale, serif;
font-weight: 400;
font-style: normal;

font-family: montecatini-pro-stretto, serif;
font-weight: 400;
font-style: normal;

font-family: "roboto", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "roboto", sans-serif;
font-weight: 400;
font-style: italic;

font-family: "roboto", sans-serif;
font-weight: 700;
font-style: normal;

font-family: "roboto", sans-serif;
font-weight: 700;
font-style: italic;

**/